.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .flex-1 {
      p-iconfield {
        input {
          width: 190px;
        }
      }
    }
}